.nav{
	height:50px;
	background:black;
}
.nav div{
	display:inline-block;
	position:absolute;
	left:0;
	padding:15px;
	font-size:20px;
	color:darkviolet;
}
.nav ul{
	position:absolute;
	right:5px;
}
.nav ul li{
	display:inline-block;
}
.nav ul li a{
	color:white;
	padding:5px;
}
.home{
	background:url("../images/background.jpeg");
	background-size:cover;
	height:100vh;
}
.title-container{
	color:aqua;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	height:10vh;
}
.info-container{
	color:red;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	height:75vh;
}
.about-content{
	margin:100px auto 0 auto;
	width:450px;
}
.aboutus{
	color:navy;
	text-align:top;
	display:flex;
	align-content:top;
	justify-content:center;
	height:5vh;
}
.clips{
	color:olive;
	text-align:center;
	display:flex;
	align-content:center;
	justify-content:center;
	height:60vh;
}